/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Playfair+Display+SC:wght@400;700&family=Prompt&display=swap');

@font-face{
    font-family: 'Atmospheric';
    src: url('../fonts/aAtmospheric.woff') format('woff');
}

/* normalize */

* {
  min-height: 0;
  min-width: 0;
}

html,
body {
    width: 100%;
    height: 100%;
}

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Atmospheric';
    color: var(--white);
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

.wrapper{
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.main{
    flex: 1 1 auto;
}

/* root */

:root{
    --bg-header: rgba(0, 0, 0, 0.75);;
    --white: #fff;
    --prompt: 'Prompt', sans-serif;
    --black: #000;
}

/* slider */
.slider{
    position: relative;
}

.my-slider-item.slick-slide,
.my-slider2-item{
    height: 75px;
    width: 74px;
    opacity: .5;
}

.my-slider-item.slick-slide:focus{
    opacity: 1;
}

.slick-list{
    overflow: hidden;
}

.slick-track {
    display: flex;
}

.my-slider-item .slick-slide,
.my-slider2-item .slick-slide {
    width: 74px;
    height: 74px;
    position: relative;
}

.my-slider-item .slick-slider img,
.my-slider2-item .slick-slider img {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
}

.slick-arrow{
    position: absolute;
    top: 93px;
    z-index: 2;
    font-size: 0;
    width: 32px;
    height: 32px;
    border: 0;
}

.slick-prev{
    left: 74px;
    background: url('../img/arr-prev.svg') no-repeat;
}

.slick-next{
    right: 74px;
    background: url('../img/arr-next.svg') no-repeat;
}

.news__slider .slick-arrow{
    top: 356px;
}


.my-slider-item.slick-slide.slick-current.slick-active,
.my-slider2-item.slick-current{
    opacity: 1;
    background: url('../img/circle1.svg') no-repeat;
}

.slick-dots{
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
}
/*  */

body.lock{
    overflow: hidden;
}

.mask{
    width: 100%;
    height: 100%;
    background: #000;
    position: fixed;
    top: 0;
    z-index: 100;
    transition: 0.6s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader{
    width: 75px;
    height: 75px;
    border: 10px solid rgba(13, 71, 161, 0.6);
    border-radius: 50%;
    border-left-color:  #0D47A1;
    animation: loader 1.3s linear infinite;
}

@keyframes loader {
    100%{
        transform: rotate(360deg);
    }
}

.hide {
    opacity: 0;
}

.container{
    width: 333px;
    height: 100%;
    margin: auto;
}

.header{
    display: none;
}

.header-mob{
    width: 100%;
    height: 83px;
    background: var(--bg-header) ;
    position: fixed;
    z-index: 4;
}

.socials{
    display: none;
}

.header-mob__flex{
    display: flex;
    padding: 22.93px 15px 22px 20px;
}

.header-mob__logo{
    width: 180px;
    margin-right: auto;
}

.header-mob__logo img{
    width: 100%;
}

.first{
    background: url('../img/first-bg-mob.jpg') center no-repeat;
    height: 812px;
    position: relative;
    z-index: 1;
    width: 100%;
    overflow: hidden;
}

.first::after{
    content: '';
    background: linear-gradient(180deg, rgba(18, 20, 24, 0.00) 0%, #121418 89.58%);
    position: absolute;
    bottom: 0;
    z-index: -1;
    height: 254px;
    width: 100%;
}

.first__flex{
    padding-top: 304px;
    display: flex;
    flex-direction: column;
}

.first__slogan{
    text-align: center;
    font-size: 24px;
    line-height: 150%;
    margin-bottom: 30px;
}

.first__btns{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.first__btn{
    margin-bottom: 12px;
}

.first__btn-p{
    display: flex;
    justify-content: center;
    background: url('../img/btn.png') no-repeat;
    background-size: 100% 100%;
    padding: 25px 0 22px;
}

.first__btn:last-child{
    margin-bottom: 0;
}

.about__circle-1920px{
    display: none;
}

.about__cat-in-1920px{
    display: none;
}

.about__cat-left-1920px{
    display: none;
}

.about{
    background: url('../img/about.jpg') center no-repeat;
    height: 812px;
    width: 100%;
    overflow: hidden;
}

.about__circle{
    display: none;
}

.about__cat-in{
    display: none;
}

.about__cat-left{
    display: none;
}

.about__circle-1550px{
    display: none;
}

.about__cat-in-1550px{
    display: none;
}

.about__cat-left-1550px{
    display: none;
}

.about__flex{
    padding-top: 363px;
}

.about__h2{
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 30px;
}

.about__li{
    background: url('../img/gradient.png') no-repeat;
    margin-bottom: 12px;
    padding: 15px 0 14px 14px;
    line-height: 130%;
}

.about__li:last-child {
    margin-bottom: 0;
}

.about__under{
    display: none;
}

.games{
    overflow: hidden;
}

.nft{
    overflow: hidden;
}

.sec-slider{
    background: url('../img/games.jpg') 35% 50% no-repeat;
    height: 812px;
    width: 100%;
    padding-top: 64px;
}

.sec-slider__flex{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sec-slider__h2{
    margin-bottom: 20px;
}

.my-slider,
.my-slider2{
    max-width: 100%;
    width: 304px;
    margin-bottom: 29px;
}

.slider-b,
.slider-b2{
    max-width: 100%;
    width: 304px;
    text-align: center;
    margin-bottom: 24px;
}

.slider-b2{
    margin-bottom: 0;
    max-height: 528px;
}

.slider-b-item {
    display: flex;
    position: relative;
    flex-direction: column;
}


.slider-b__socials {
    position: absolute;
    top: 405px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider-b__img,
.slider-b__img2{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.slider-b__img img{
    width: 144px;
    height: 144px;
}

.slider-b__name {
    margin-bottom: 20px;
    font-size: 18px;
}

.slider-b__info{
    font-family: var(--prompt);
    text-align: center;
    margin-bottom: 84px;
}

.slider-b__socials a{
    margin-right: 30px;
}

.slider-b__socials a:last-child{
    margin-right: 0px;
}

.nft-marketplaces{
    background: url('../img/nnft-marketplaces.jpg') 50% 90% no-repeat;
    height: 812px;
    width: 100%;
    padding-top: 47px;
    overflow: hidden;
}

.nft-marketplaces__h2{
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 30px;
}

.nft-marketplaces__ul{
    margin-bottom: 30px;
}

.nft-marketplaces__li{
    background: url('../img/gradient.png');
    padding: 23px 0 23px 22px;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.nft-marketplaces__animation{
    display: flex;
    flex-direction: column;
}

.nft-marketplaces__li_d{
    padding: 20px 0 20px 41px;
}

.nft-marketplaces__li_n{
    padding: 30px 0 30px 23px;
}

.nft-marketplaces__img {
    margin-right: 27px;
}

.nft-marketplaces__img_d{
    margin-right: 45px;
}

.nft-marketplaces__img_n{
    margin-right: 29px;
}

.nft-marketplaces__p{
    font-size: 22px;
}

.nft-marketplaces__tab {
    display: none;
}

.nft-marketplaces__tab.is-active{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.nft-marketplaces__li.is-active{
    background: var(--Linear, linear-gradient(90deg, #0082FA 0%, #00F2FE 169.2%));
    border-radius: 4px;
}

.nft-marketplaces__socials{
    display: flex;
    gap: 8px;
}

.nft-marketplaces__socials img{
    width: 34px;
    height: 24px;
}

.nft-marketplaces__socials .close {
    display: none;
}

.nft-marketplaces__name{
    font-size: 18px;
    margin-bottom: 20px;
}

.nft-marketplaces__info{
    text-align: center;
    font-family: var(--prompt);
    line-height: 150%;
    margin-bottom: 70px;
}

.news{
    background: url('../img/news.jpg') 50% 90% no-repeat;
    height: 812px;
    width: 100%;
    padding-top: 206px;
    overflow: hidden;
}

.news__flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.news__h2{
    font-size: 24px;
    margin-bottom: 30.58px;
}

.news__slider-item{
    background: var(--black);
    border-radius: 15px;
    margin-right: 10px;
    max-height: 360px;
    min-height: 360px;
}

.news__padding{
    padding: 20px 8px 20px 17px;
}

.news__img{
    width: 100%;
    height: 198px;
}

.news__img img{
    width: 100%;
    height: 100%;
}

.news__h3{
    line-height: 130%;
    margin-bottom: 11.53px;
    -webkit-line-clamp: 2; /* Число отображаемых строк */
    display: -webkit-box; /* Включаем флексбоксы */
    -webkit-box-orient: vertical; /* Вертикальная ориентация */
    overflow: hidden; /
}

.news__p{
    font-family: var(--prompt);
    color: #ABABAB;
    line-height: 130%;
    margin-bottom: 17.68px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
    word-break: break-word;
}

.news__data{
    font-family: var(--prompt);
    font-size: 14px;
    line-height: 130%;
}

.news__slider.slick-slide {
    width: 320px;
    height: 340px;
}

.news__slider.slick-initialized.slick-slider{
    width: 351px;
    height: 340px;
}

.news__slider .news__slider-item .slick-list.draggable{
    width: 351px;
    height: 340px;
}

.news__slider-item.slick-slide.slick-cloned{
    width: 1000px;
}

.soon{
    background: url('../img/news.jpg') 50% 90% no-repeat;
    height: 812px;
    width: 100%;
    padding-top: 361px;
    overflow: hidden;
}

.soon__info{
    line-height: 30px;
    font-size: 24px;
    text-align: center;
}


.nav-mob{
    position: fixed;
    z-index: 60;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--black);
    transform: translate(-100%, 0);
    transition: all .2s ease 0s;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.nav-mob::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.nav-mob.active {
    transform: translate(0, 0);
}

.nav-mob__block{
    padding: 22.93px 15px 30px 20px;
}

.nav-mob__header{
    display: flex;
    align-items: center;
    margin-bottom: 52px;
}

.nav-mob__logo{
    width: 180px;
    margin-right: auto;
}

.nav-mob__logo img {
    width: 100%;
}

.nav-mob__ul {
    font-size: 18px;
    margin-bottom: 361px;
}

.nav-mob__li{
    margin-bottom: 30px;
}

.nav-mob__li:active{
    color: var(--Linear, linear-gradient(90deg, #0082FA 0%, #00F2FE 169.2%));
}

.nav-mob__sociasls{
    display: flex;
    gap: 30px;
}

.my-slider-item,
.my-slider2-item{
    width: 74px;
    margin-right: 20px;
}

@media (min-width: 1200px){

      .container{
        width: 1121px;
        margin: 0 auto;
    }

    ::-webkit-scrollbar{
        width: 7px;
    }

    ::-webkit-scrollbar-track{
        background: #d4d4d4;
    }

    ::-webkit-scrollbar-thumb{
        background: #028fec;
        border-radius: 8px;
        border-radius: 3px solid #d4d4d4;
    }

    .header-mob{
        display: none;
    }
    
    .modal{
        display: none;
    }

    .socials{
        display: block;
    }

    .header{
        display: block;
        position: fixed;
        width: 100%;
        background: var(--bg-header);
        z-index: 5;
    }

    .header__logo{
        width: 202px;
        margin-right: auto;
    }

    .header__logo img {
        width: 100%;
    }
    
    .header__flex{
        display: flex;
        padding: 20.6px 0;
        align-items: center;
    }

    .header__ul{
        display: flex;
        align-self: center;
        justify-content: center;
    }
    
    .header__li{
        margin-right: 27px;
    }

    .header__li:last-of-type{
        margin-right: 0;
    }

    .first{
        background: url('../img/border.png') center bottom/100% 100% no-repeat, 
        url('../img/main-bg-comp.jpg') center /cover no-repeat;
        height: 936px;
        position: relative;
    }

    .socials{
        position: absolute;
        right: 71px;
        bottom: 30px;
    }

    .socials img{
        width: 27px;
        height: 27px;
        margin-right: 7px;
    }

    .socials img:hover{
        cursor: pointer;
        transform: scale(1.1);
    }

    .socials img:last-child{
        margin-right: 0;
    }

    .slider-b2{
        margin-bottom: 0;
        max-width: 600px;
    }


    .slider-b__socials{
        top: 369px;
    }
    
    .slider-b-item{
        height: 420px;
        display: flex;
        flex-direction: column;
    }

    .first::after{
        display: none;
    }

    .first__btns{
        flex-direction: row;
        justify-content: start;
        gap: 36px;
        margin: auto;
    }

    .first__btn-p{
        width: 335px;
        font-size: 19.84px;
        padding: 0;
        height: 80px;
        background: url('../img/btn.png') no-repeat;
        justify-content: center;
        align-items: center;

    }

    .first__btn{
    }
    
    .first__btn:hover{
        transform: scale(1.1);
        transition: all .3s linear;
    }

    .first__flex{
        padding-top: 541px;
        max-width: 1079px;
        margin: auto;
    } 
    
    .first__slogan{
        padding: 0 180px;
        font-size: 44px;
        line-height: 66px;
        width: 100%;
        text-align: center;
        margin-bottom: 60px;
    }

    .about{
        background: url('../img/border.png') center bottom/100% 100% no-repeat, 
        url('../img/second-bg-comp.jpg') center /cover no-repeat;
        height: 936px;
        position: relative;
        overflow: hidden;
    }

    .about__flex{
        padding: 0;
        padding-top: 82px;
        margin: 0;
    }

    .about__h2{
        display: none;
    }

    .about__li{
        background: url('../img/point.png') no-repeat;
        width: 772.5px;
        padding: 0;
        margin: 0;
        margin-bottom: 13px;
        padding-left: 95px;
        padding-top: 13px;
    }
    
    .about__p{
        margin-bottom: 24px;
    }

    .about__under{
        display: block;
        font-family: 'Prompt';
        font-size: 20px;
        line-height: 26px;
        width: 528px;
    }

    .about__ml2{
        animation-delay: 0.1s; 
    }

    .about__ml2{
        margin-left: 57px;
        animation-delay: 0.15s; 
    }

    .about__ml3{
        margin-left: 114px;
        animation-delay: 0.2s; 

    }

    .about__ml4{
        margin-left: 171px;
        animation-delay: 0.25s; 
    }

    .about__ml5{
        margin-left: 228px;
        animation-delay: 0.3s; 
    }

    .about__ml6{
        margin-left: 285px;
        animation-delay: 0.35s; 
    }

    .about__circle{
        display: block;
        position: absolute;
        top: 0;
        right: 0;
    }
    
    .about__circle img {
        width: 100%;
        height: 100%;
    }
    
    .about__cat-in{
        display: block;
        position: absolute;
        top: 0;
        right: 0;
    }
    
    .about__cat-in img {
        width: 100%;
        height: 100%;
    }
    
    .about__cat-in::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        background: url('../img/cat-in-ellips-1200.png') no-repeat;
        background-size: cover;
        filter: hue-rotate(50deg);
        z-index: 4;
    }

    .about__cat-in:hover::before {
        animation: animation 1.3s linear 3;
    }

    .about__cat-left{
        display: block;
        position: absolute;
        left: 0;
        bottom: 0;
        height: 632px;
    }

    .about__cat-left::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        background: url('../img/cat-left-1200.png') no-repeat;
        background-size: cover;
        filter: brightness(84%) saturate(69%) contrast(134%) invert(11%);
        -webkit-filter: brightness(84%) saturate(69%) contrast(134%) invert(11%);
        -moz-filter: brightness(84%) saturate(69%) contrast(134%) invert(11%);
        z-index: 4;
    }
    
    .about__cat-left:hover::before{
        animation: animation 1.3s linear 3;
    }
    
    @keyframes animation {
        0%{
            opacity: .7;
            top: 0;
            background-position: 0 0;
        }
        20%{
            top: 100px;
            background-position: -10px -100px;
        }
        40%{
            top: 240px;
            background-position: 6px -240px;
        }
        60%{
            top: 360px;
            background-position: -6px -360px;
        }
        80%{
            top: 480px;
            background-position: 10px -480px;
        }
        100%{
            top: 632px;
            background-position: 12px -632px;
        }
    }

    .about__cat-left img{
        width: 100%;
        height: 100%;
    }

    .slider-b {
        width: 651px;
    }

    .slider-b2{
        width: 751px;
        margin-bottom: 60px;
    }

    .my-slider{
        width: 651px;
    }

    .my-slider2{
        width: 874px;
    }
    
    .my-slider-item,
    .my-slider2-item{
        margin: 0;
    }

    .sl-count,
    .sl-count2{
        display: none;
    }

    .my-slider .slick-dots,
    .my-slider2 .slick-dots,
    .news__slider .slick-dots {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .my-slider .slick-dots li,
    .my-slider2 .slick-dots li,
    .news__slider .slick-dots li{
        margin-right: 20px;
    }

    .my-slider .slick-dots li.slick-active button,
    .my-slider2 .slick-dots li.slick-active button,
    .news__slider .slick-dots li.slick-active button{
        opacity: 1;
    }

    .my-slider .slick-dots button,
    .my-slider2 .slick-dots button,
    .news__slider .slick-dots button{
        font-size: 0;
        width: 50px;
        height: 8px;
        background: var(--Linear, linear-gradient(90deg, #0082FA 0%, #00F2FE 169.2%));
        border: 0;
        opacity: .3;
    }

    .news__slider .slick-dots{
        top: 376px;
    }

    .my-slider-item.slick-current.my-slider-item_bl{
        background: none;
    }

    .my-slider-item.slick-current.my-slider-item_red{
        background: none;
    }

    .my-slider-item.slick-current.my-slider-item_gray{
        background: none;
    }

    .games{
        background: url('../img/border.png') center bottom/100% 100% no-repeat, 
        url('../img/games-bg-comp.jpg') center /cover no-repeat;
        height: 936px;
        position: relative;
    }

    .sec-slider__h2{
        font-size: 64px;
        margin-bottom: 52px;
    }

    .sec-slider{
        padding-top: 150px;
    }

    .slider-b__img{
        margin-bottom: 26px;
    }

    .slider-b__name{
        font-size: 24px;
        margin-bottom: 16px;
    }

    .slider-b__info{
        font-size: 20px;
        margin-bottom: 30px;
        line-height: 150%;
    }

    .slider-b{
        margin-bottom: 42.36px;
    }

    .my-slider-item,
    .my-slider2-item{
        width: 74px;
        margin: 0 20px;
    }

    .nft{
        background: url('../img/border.png') center bottom/100% 100% no-repeat, 
        url('../img/nft-bg-comp.jpg') center /cover no-repeat;
        height: 936px;
        position: relative;
    }

    .nft-marketplaces{
        background: url('../img/border.png') center bottom/100% 100% no-repeat, 
        url('../img/nft-marketplace-bg.jpg') center /cover no-repeat;
        padding: 0;
        position: relative;
    }

    .nft-marketplaces__flex{
        padding-top: 169px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .nft-marketplaces__animation{
        flex-direction: row;
    }

    .nft-marketplaces__animation li {
        margin-right: 17px;
    }

    .nft-marketplaces__animation li:last-child {
        margin-right: 0;
    }

    .sec-slider-189pt{
        padding-top: 150px;
    }

    .nft-marketplaces__h2 {
        font-size: 64px;
        margin-bottom: 50px;
    }

    .nft-marketplaces__ul{
        display: flex;
        gap: 17px;
        justify-content: center;
        align-items: center;
        margin-bottom: 57px;
    }

    .nft-marketplaces__li{
        background: none;
        background: url('../img/games-bg-comp.png');
        flex-direction: column;
        padding: 0;
        margin: 0;
        width: 214px;
        height: 236px;
        align-items: center;
        justify-content: center;
    }

    .nft-marketplaces__li_d{
        padding: 0;
    }

    .nft-marketplaces__li_n{
        padding: 0;
    }

    .nft-marketplaces__img {
        margin-right: 0;
    }

    .nft-marketplaces__img_d{
        margin-right: 0;
        width: 132px;
        height: 111px;
        margin-bottom: 27px;
    }

    .nft-marketplaces__img_d img {
        width: 100%;
        height: 100%;
    }

    .nft-marketplaces__img_n{
        margin-right: 0;
        width: 140px;
        height: 90px;
        margin-bottom: 47px;
    }

    .nft-marketplaces__img_n img {
        width: 100%;    
        height: 100%;
    }

    .nft-marketplaces__img_t{
        width: 130px;
        height: 105px;
        margin-bottom: 33px;
    }

    .nft-marketplaces__img_t img {
        width: 100%;
        height: 100%;
    }

    .nft-marketplaces__name{
        font-size: 52px;
        margin-bottom: 16px;
    }

    .nft-marketplaces__info{
        font-size: 20px;
        width: 646px;
        margin-bottom: 52px;
    }

    .nft-marketplaces__socials .close{
        display: block;
    }

    .nft-marketplaces__socials{
        gap: 30px;
    }

    .nft-marketplaces__socials img{
        height: 34px;
    }

    .news{
        background: url('../img/border.png') center bottom/100% 100% no-repeat, 
        url('../img/news-bg-comp.jpg') center /cover no-repeat;
        height: 936px;
        position: relative;
        padding-top: 239px;
    }

    .news__h2{
        font-size: 64px;
        margin-bottom: 50px;
    }

    .news__slider{
        width: 1018px;
    }

    .news__slider-item{
        width: 326px;
        height: 366px;
        margin-right: 14px;
    }

    .news__img{
        width: 100%;
        height: 183px;
    }

    .news__img img{
        width: 100%;
        height: 100%;
    }

    .news .slick-list.draggable{
        width: 1018px;
        height: 100%;
    }

    .news__slider.slick-initialized.slick-slider{
        width: 1018px;
    }

    .soon{
        background: url('../img/border.png') center bottom/100% 100% no-repeat, 
        url('../img/news-bg-comp.jpg') center /cover no-repeat;
        height: 936px;
        position: relative;
        padding: 0;
    }

    .soon__flex{
        padding-top: 429px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .soon__info{
        font-size: 60px;
        line-height: 130%;
        width: 1079px;
    }

    .hov{
        color: #0082FA;
    }
}

@media (min-width: 1300px){
    .socials{
        right: 75px;
    }
}

@media (min-width: 1400px){
    .socials{
        right: 88px;
    }
}

@media (min-width: 1500px){
    .container {
        width: 1200px;
    }

    .socials{
        right: 93px;
    }
}

@media (min-width: 1920px){
    .about__circle{
        display: none;
        
    }

    .about__circle-1920px{
        display: block;
        position: absolute;
        top: -794px;
        left: 1136px;
        
    }

    .about__circle-1920px img{
        width: 1672px;
        height: 1672px;
    }
    
    .about__cat-in-1920px{
        display: block;
        position: absolute;
        top: -41px;
        left: 1190px;
        /* height: 835px; */
    }

      .about__cat-in-1920px::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        background: url('../img/cat-in-ellips-1920.png') no-repeat;
        background-size: cover;
        filter: hue-rotate(50deg);
        z-index: 4;
    }

    .about__cat-in-1920px:hover::before{
        animation: animation1 1.3s linear 3;
    }

    @keyframes animation1 {
        0%{
            opacity: .7;
            top: 0;
            background-position: 0 0;
        }
        20%{
            top: 120px;
            background-position: -10px -120px;
        }
        40%{
            top: 280px;
            background-position: 6px -280px;
        }
        60%{
            top: 540px;
            background-position: -6px -540px;
        }
        80%{
            top: 680px;
            background-position: 10px -680px;
        }
        100%{
            top: 835px;
            background-position: 12px -835px;
        }
    }

    .about__cat-left-1920px::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        background: url('../img/cat-left-1550.png') no-repeat;
        background-size: cover;
        filter: brightness(84%) saturate(69%) contrast(134%) invert(11%);
        -webkit-filter: brightness(84%) saturate(69%) contrast(134%) invert(11%);
        -moz-filter: brightness(84%) saturate(69%) contrast(134%) invert(11%);
        z-index: 4;
    }

    .about__cat-left-1920px:hover::before{
        animation: animation1 1.3s linear 3;
    }

    .about__cat-in-1920px img {
        width: 830px;
        height: 835px;
    }

    .about__cat-in{
        display: none;
    }

    .about__cat-left{
        display: none;
    }

    .about__cat-left-1920px{
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
    }

    .about__cat-left-1920px img{
        width: 100%;
        height: 100%;
    }
}

@media (min-width: 2100px){
    .about__cat-in-1920px{
        left: 1290px;
    }

    .about__circle-1920px{
        left: 1236px;
    }
}

@media (min-width: 2200px){
    .about__cat-in-1920px{
        left: 1390px;
    }

    .about__circle-1920px{
        left: 1336px;
    }
}

@media (min-width: 2300px){
    .about__cat-in-1920px{
        left: 1490px;
    }

    .about__circle-1920px{
        left: 1436px;
    }
}

@media (min-width: 2400px){
    .about__cat-in-1920px{
        left: 1590px;
    }

    .about__circle-1920px{
        left: 1536px;
    }
}

@media (min-width: 2500px){
    .about__cat-in-1920px{
        left: 1690px;
    }

    .about__circle-1920px{
        left: 1636px;
    }
}

@media (min-width: 1600px){
    .socials{
        right: 91px;
    }

    .socials img{
        width: 38px;
        height: 38px;
        margin-right: 10px;
    }
}

@media (min-width: 1700px){
    .socials{
        right: 100px;
    }
}

@media (min-width: 1800px){
    .socials{
        right: 109px;
    }
}

@media (min-width: 1920px){
    .socials{
        right: 114px;
    }

    .socials img{
        margin-right: 15px;
    }
}

@media (min-width: 2000px){
    .socials{
        right: 124px;
    }
}

@media (min-width: 2100px){
    .socials{
        right: 129px;
    }
}

.my-slider2-item img{
    width: 65px;
    height: 65px;
    border-radius: 100%;
}

.my-slider2-item.slick-slide.slick-active,
.my-slider2-item.slick-slide.slick-cloned,
.my-slider-item.slick-slide,
.my-slider-item.slick-slide.slick-current.slick-active,
.my-slider2-item.slick-slide{
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('../img/circle1.svg') no-repeat;
}

.slider-b__img img{
    width: 144px;
    height: 144px;
    border-radius: 100%
}